body {
	background-image: url(../img/Avengers_equipo.jpg);
	font-family:"Arial", "helvetica", "open sans", sans-serif;
	font-size:20px;
	}
img {
	width: 320px;
	margin:auto;
	display: block;
}
h1 {
	font-family:"verdana", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color:white;
}
div {
	font-color: red;
	background: #FFA07A;
	width:80%;
	margin-right: auto;
	margin-left: auto;
	padding:30px;
	border:10px solid #000;
}
p {
	text-align: left;
	margin-top:0px;
	margin-bottom:0px; 
	color: green;
}
a {
	color:white;
	text-decoration-line: none;
	background:#df1338;
}
.Antman{
	color:silver;
	background:red;
}
.hulk{
	color:#228B22;
	background:#7CFC00;
}
.ironman{
	color:red;
	background:gold;
}
.thor{
	color:blue;
	background:silver;
}
.wasp{
	color:gold;
	background: black;
}
.capitan-america{
	color:red;
	background:#00008B;
}
a:hover {
	background:black;
	text-decoration: underline;
	color:green;
	padding:1px;
}
cite {
	text-decoration: underline;
	color:#000;
}
/* asi se escribe un comentario en css */
/*anatomía de las reglas css:
selector{
		propiedad: valor;
		propiedad: valor;
		propiedad: valor;
		}

		font-size: por default el tamaño es de 16px
		color: podes poner el color en ingles
				sistema exadecimal #D5DBD5
				RGB: color:rgb(46, 77, 69) o rgba, agrega transparecia (va del 0 al 1)

	intelineado: line-height: utiliza o porcentaje o multiplicador
	ej. line-height:100% --> utiliza como base de calculo para determinar su capacidad el mismo alto de la tipografia
	
	multiplicador
	ej. line-height:1
	se basa en la cantidad de px que le diste al texto con font-size(es el alto)

*/